{#<div style="margin-left: 12%;margin-bottom: 1%;width:75%;border-color: ghostwhite;border: solid; background-repeat:no-repeat;#}
{#background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');height: 500px;#}
{#">#}
    {#<div style="background-color: white;width: 50%;margin-left: 25%;opacity: 111%;height: 50%;text-align: -webkit-center;margin-top: 12%;">#}

        {#<br><br>#}
{#<h3 style="color: red">Annonce ajouté! </h3>#}

{#Bonjour<p style="size: 20px"><strong>{{ name }}!</strong></p>  votre annonce a été ajoutée avec succès au {{ "now"|date("m/d/Y à h:m") }}.<br>#}

{# example, assuming you have a route named "login" #}
{#To login, go to: <a href="{{ url('login') }}">...</a>.#}

{#<strong>Merci!</strong>#}
    {#<img src="https://www.educol.net/image-velo-7-dm9803.jpg">#}
{#</div>#}
{#</div>#}
{# Makes an absolute URL to the /images/logo.png file #}
<div bgcolorph="#f5f5f5" lang="en" dir="ltr" style="margin:0;padding:0;min-width:100%">






    <table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#f5f5f5" width="100%" style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:1em;line-height:1.5;max-width:600px;padding:0 20px 0 20px">
        <tbody><tr>

            <td style="padding:20px">

                <table role="presentation" width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td width="70">
                            <a href="https://courses.edx.org/?utm_medium=email&amp;utm_campaign=accountactivation&amp;utm_content=31901e37-c18a-40b0-b443-a7f9a4bcaea9&amp;utm_source=student" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://courses.edx.org/?utm_medium%3Demail%26utm_campaign%3Daccountactivation%26utm_content%3D31901e37-c18a-40b0-b443-a7f9a4bcaea9%26utm_source%3Dstudent&amp;source=gmail&amp;ust=1587656567992000&amp;usg=AFQjCNEgVnZgj0ixAa6bmQ0RYQUYr1H6OA"><img src="https://i.ibb.co/rxZTZ4F/logo.png" width="70" height="50" alt="" class="CToWUd"></a>
                        </td>
                        <td align="right" style="text-align:right">
                            <a href="http://localhost/pi/web/app_dev.php/login" style="color:#005686" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://courses.edx.org/?utm_medium%3Demail%26utm_campaign%3Daccountactivation%26utm_content%3D31901e37-c18a-40b0-b443-a7f9a4bcaea9%26utm_source%3Dstudent&amp;source=gmail&amp;ust=1587656567992000&amp;usg=AFQjCNEgVnZgj0ixAa6bmQ0RYQUYr1H6OA">Se Connecter
                            </a>
                        </td>
                    </tr>
                    </tbody></table>

            </td>
        </tr>

        <tr>

            <td bgcolor="#ffffff" style="padding:30px 20px">

                <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">

                    <tbody><tr>
                        <td>
                            <h1>
                                Confirmation D'ajout
                            </h1>
                            <p style="color:rgba(0,0,0,.75)">

                                Bonjour <span class="il">{{ name }}</span><br>
                                Votre annonce dont le titre est <span class="il">{{ titre }}</span><br> a été ajoutée avec succès au {{ "now"|date("m/d/Y à h:m") }} .

                                <br>
                            </p>

                            {#Activate Your Account#}



                            {#<p>#}

                                {#<a href="https://courses.edx.org/activate/d51673ea25ca43c5a43c5e5d17ea5e39?utm_medium=email&amp;utm_campaign=accountactivation&amp;utm_content=31901e37-c18a-40b0-b443-a7f9a4bcaea9&amp;utm_source=student" style="color:#ffffff;text-decoration:none;border-radius:4px;background-color:#005686;border-top:12px solid #005686;border-bottom:12px solid #005686;border-right:50px solid #005686;border-left:50px solid #005686;display:inline-block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://courses.edx.org/activate/d51673ea25ca43c5a43c5e5d17ea5e39?utm_medium%3Demail%26utm_campaign%3Daccountactivation%26utm_content%3D31901e37-c18a-40b0-b443-a7f9a4bcaea9%26utm_source%3Dstudent&amp;source=gmail&amp;ust=1587656567992000&amp;usg=AFQjCNFwDjbiid7PUXzH6Ay8L7Y8DTQbhA">#}

                                    {#<font color="#ffffff"><b>Activate Your Account</b></font>#}
                                {#</a>#}
                            {#</p>#}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color:rgba(0,0,0,.75)">

                                Nous essayons avec tout notre savoir-faire et notre large expérience de vous satisfaire.

                                <br>
                            </p>
                        </td>
                    </tr>
                    <tr><td>
                            <p style="color:rgba(0,0,0,.75)">

                                {#If you need help, please use our web form at <a href="https://support.edx.org/hc/en-us/articles/227340127-Why-haven-t-I-received-my-activation-email-" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://support.edx.org/hc/en-us/articles/227340127-Why-haven-t-I-received-my-activation-email-&amp;source=gmail&amp;ust=1587656567992000&amp;usg=AFQjCNHVy2IfMueKu2rKwylTNWoigce9og">https://support.<span class="il">edx</span>.org/hc/en-<wbr>us/articles/227340127-Why-<wbr>haven-t-I-received-my-<wbr>activation-email-</a> or email <a href="mailto:info@edx.org" target="_blank">info@<span class="il">edx</span>.org</a>.#}
                                <br>
                            </p>
                        </td>
                    </tr><tr>

                    </tr>
                    <tr>
                        <td>
                            <p style="color:rgba(0,0,0,.75)">

                                Cet e-mail a été envoyé automatiquement par <a href="http://localhost/pi/web/app_dev.php/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://courses.edx.org&amp;source=gmail&amp;ust=1587656567992000&amp;usg=AFQjCNHHaf6ONTDQYaAc07EJolFLX0Wtcg"><span class="il">Velo</span></a> .

                                <br>
                            </p>
                        </td>
                    </tr>
                    </tbody></table>

            </td>
        </tr>

        <tr>

            <td style="padding:20px">
                <table role="presentation" width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td style="padding-bottom:20px">

                            <table role="presentation" align="left" border="0" cellpadding="0" cellspacing="0" width="210">
                                <tbody><tr>





                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    <tr>

                        <td style="padding-bottom:20px">


                        </td>
                    </tr>
                    <tr>

                        <td style="padding-bottom:20px">

                        </td>
                    </tr>
                    <tr>

                        <td>
                            © 2020 <span class="il">Velo</span>, Tous les droits sont réservés.<br>
                            <br>
                            Notre e-mail: pidevtest2020@gmail.com<br>

                        </td>
                    </tr>

                    </tbody></table>
            </td>
        </tr>
        </tbody></table>



</div>